<IfModule mod_headers.c>
    <FilesMatch "\.html[_a-z]*$">
        Header unset Link
        Header add Link '</wp-content/cache/minify/a5ff7.css>; rel=preload; as=style'

        Header add Link '</wp-content/cache/minify/d07df.css>; rel=preload; as=style'

        Header add Link '</wp-content/cache/minify/ee92c.css>; rel=preload; as=style'

        Header add Link '</wp-content/cache/minify/42161.css>; rel=preload; as=style'

        Header add Link '</wp-content/cache/minify/4c431.css>; rel=preload; as=style'

        Header add Link '</wp-content/cache/minify/b2c1c.css>; rel=preload; as=style'

        Header add Link '</wp-content/cache/minify/38519.css>; rel=preload; as=style'

        Header add Link '</wp-content/cache/minify/48e2c.css>; rel=preload; as=style'

        Header add Link '</wp-content/cache/minify/4ffeb.css>; rel=preload; as=style'

        Header add Link '</wp-content/cache/minify/cc8e5.css>; rel=preload; as=style'

        Header add Link '</wp-content/cache/minify/abd2c.css>; rel=preload; as=style'

        Header add Link '</wp-content/cache/minify/27f3b.css>; rel=preload; as=style'

        Header add Link '</wp-content/cache/minify/27ca7.css>; rel=preload; as=style'

        Header add Link '</wp-content/cache/minify/d85d8.css>; rel=preload; as=style'

        Header add Link '</wp-content/cache/minify/ae511.css>; rel=preload; as=style'

        Header add Link '</wp-content/cache/minify/8486d.css>; rel=preload; as=style'

        Header add Link '</wp-content/cache/minify/b5b00.css>; rel=preload; as=style'

        Header add Link '</wp-content/cache/minify/5c0fa.css>; rel=preload; as=style'
    </FilesMatch>
</IfModule>
